.bs-container {
    width: 35%;
    border: 1px solid #E6CBA8;
    margin: 5px;
    margin-top: 0px;
    display: flex;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    height: 500px;
    min-height: 40vh;
}

.bs-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bs-btn-container button {
    cursor: pointer;
    height: 45px;
    width: 50%;
    border: 1px solid #e2e2e2;
    background-color: transparent;
    font-weight: bold;
}

.buy-button-after-click {
    border-top: 4px solid green !important;
    border-bottom: none !important;
}

.sell-button-after-click {
    border-top: 4px solid red !important;
    border-bottom: none !important;
}

.buy-container {
    flex-direction: column !important;
    justify-content: space-around;
    align-items: center;
}

.buy-container label {
    margin: 20px;
    width: 70%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid grey;
}

.buy-container label input {
    border: none;
    width: 60%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
}

.buy-container select {
    margin: 20px;
    width: 70%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
}

.buy-container button {
    margin: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
}

.sell-container {
    flex-direction: column !important;
    justify-content: space-around;
    align-items: center;
}

.sell-container label {
    margin: 20px;
    width: 70%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid grey;
}

.sell-container label input {
    border: none;
    width: 60%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
}

.sell-container select {
    margin: 20px;
    width: 70%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
}

.sell-container button {
    margin: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
}