.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: whitesmoke;
    background-color: #2146C7;
    font-family: sans-serif;
}